openapi: 3.0.3
info:
  title: 'كريتف اكسبريس'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://cekwt.com'
paths:
  /api/v1/ecommerce/addresses:
    get:
      summary: 'Get list of address by customer'
      operationId: getListOfAddressByCustomer
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                  data: null
                  message: Unauthenticated.
                properties:
                  error:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Address
      security: []
    post:
      summary: 'Create new address for customer'
      operationId: createNewAddressForCustomer
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    id: 1
                    name: 'John Doe'
                    phone: '0123456789'
                    email: john.doe@example.com
                    country: 'United States'
                    state: California
                    city: 'Los Angeles'
                    address: '123 Main St'
                    zip_code: '90001'
                    is_default: true
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      phone:
                        type: string
                        example: '0123456789'
                      email:
                        type: string
                        example: john.doe@example.com
                      country:
                        type: string
                        example: 'United States'
                      state:
                        type: string
                        example: California
                      city:
                        type: string
                        example: 'Los Angeles'
                      address:
                        type: string
                        example: '123 Main St'
                      zip_code:
                        type: string
                        example: '90001'
                      is_default:
                        type: boolean
                        example: true
                  message:
                    type: string
                    example: null
      tags:
        - Address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the address owner.'
                  example: 'John Doe'
                  nullable: false
                email:
                  type: string
                  description: 'The email address.'
                  example: john.doe@example.com
                  nullable: true
                phone:
                  type: string
                  description: 'The phone number.'
                  example: '0123456789'
                  nullable: false
                country:
                  type: string
                  description: 'The country name or country code.'
                  example: 'United States or US'
                  nullable: true
                state:
                  type: string
                  description: 'The state/province name.'
                  example: California
                  nullable: true
                city:
                  type: string
                  description: 'The city name.'
                  example: 'Los Angeles'
                  nullable: true
                address:
                  type: string
                  description: 'The street address.'
                  example: '123 Main St'
                  nullable: true
                is_default:
                  type: boolean
                  description: 'Set as default address.'
                  example: true
                  nullable: true
                zip_code:
                  type: string
                  description: 'The postal/zip code.'
                  example: '90001'
                  nullable: true
              required:
                - name
                - email
                - phone
  '/api/v1/ecommerce/addresses/{id}':
    put:
      summary: 'Update an address'
      operationId: updateAnAddress
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    id: 1
                    name: 'John Doe'
                    phone: '0123456789'
                    email: john.doe@example.com
                    country: 'United States'
                    state: California
                    city: 'Los Angeles'
                    address: '123 Main St'
                    zip_code: '90001'
                    is_default: true
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      phone:
                        type: string
                        example: '0123456789'
                      email:
                        type: string
                        example: john.doe@example.com
                      country:
                        type: string
                        example: 'United States'
                      state:
                        type: string
                        example: California
                      city:
                        type: string
                        example: 'Los Angeles'
                      address:
                        type: string
                        example: '123 Main St'
                      zip_code:
                        type: string
                        example: '90001'
                      is_default:
                        type: boolean
                        example: true
                  message:
                    type: string
                    example: null
      tags:
        - Address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the address owner.'
                  example: 'John Doe'
                  nullable: false
                email:
                  type: string
                  description: 'The email address.'
                  example: john.doe@example.com
                  nullable: false
                phone:
                  type: string
                  description: 'The phone number.'
                  example: '0123456789'
                  nullable: false
                country:
                  type: string
                  description: 'The country name or country code.'
                  example: 'United States or US'
                  nullable: false
                state:
                  type: string
                  description: 'The state/province name.'
                  example: California
                  nullable: false
                city:
                  type: string
                  description: 'The city name.'
                  example: 'Los Angeles'
                  nullable: false
                address:
                  type: string
                  description: 'The street address.'
                  example: '123 Main St'
                  nullable: false
                is_default:
                  type: boolean
                  description: 'Set as default address.'
                  example: true
                  nullable: false
                zip_code:
                  type: string
                  description: 'The postal/zip code.'
                  example: '90001'
                  nullable: true
              required:
                - name
                - email
                - phone
                - state
                - city
                - address
    delete:
      summary: 'Delete an address'
      operationId: deleteAnAddress
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data: null
                  message: 'Address deleted successfully'
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'Address deleted successfully'
      tags:
        - Address
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the address.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/ecommerce/countries:
    get:
      summary: 'Get list of available countries'
      operationId: getListOfAvailableCountries
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    -
                      name: Vietnam
                      code: VN
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: array
                    example:
                      -
                        name: Vietnam
                        code: VN
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Vietnam
                        code:
                          type: string
                          example: VN
                  message:
                    type: string
                    example: null
      tags:
        - Address
      security: []
  /api/v1/register:
    post:
      summary: Register
      operationId: register
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data: null
                  message: 'Registered successfully! We emailed you to verify your account!'
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'Registered successfully! We emailed you to verify your account!'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The given data was invalid.'
                  errors:
                    name:
                      - 'The name field is required.'
                    email:
                      - 'The email field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      name:
                        type: array
                        example:
                          - 'The name field is required.'
                        items:
                          type: string
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'This field is required when <code>name</code> is not present. يجب أن لا يتجاوز طول نّص حقل value 120 حروفٍ/حرفًا. يجب أن يكون طول نص حقل value على الأقل 2 حروفٍ/حرفًا.'
                  example: 'e.g: John'
                  nullable: true
                last_name:
                  type: string
                  description: 'This field is required when <code>name</code> is not present. يجب أن لا يتجاوز طول نّص حقل value 120 حروفٍ/حرفًا. يجب أن يكون طول نص حقل value على الأقل 2 حروفٍ/حرفًا.'
                  example: 'e.g: Smith'
                  nullable: true
                name:
                  type: string
                  description: 'The name of the user.'
                  example: omnis
                  nullable: true
                email:
                  type: string
                  description: 'The email of the user.'
                  example: zoila61@example.org
                  nullable: false
                password:
                  type: string
                  description: 'The password of user to create.'
                  example: 'B\C=@[2D1'
                  nullable: false
                phone:
                  type: string
                  description: 'The phone of the user.'
                  example: omnis
                  nullable: true
                password_confirmation:
                  type: string
                  description: 'The password confirmation.'
                  example: aspernatur
                  nullable: false
              required:
                - name
                - email
                - password
                - phone
                - password_confirmation
      security: []
  /api/v1/login:
    post:
      summary: Login
      operationId: login
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    token: 1|aF5s7p3xxx1lVL8hkSrPN72m4wPVpTvTs...
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 1|aF5s7p3xxx1lVL8hkSrPN72m4wPVpTvTs...
                  message:
                    type: string
                    example: null
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: davon.lynch@example.org
                  nullable: false
                password:
                  type: string
                  description: 'The password of user to create.'
                  example: 9n!+q>=lpwS
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/v1/email/check:
    post:
      summary: 'Check email existing or not'
      operationId: checkEmailExistingOrNot
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    exists: true
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                  message:
                    type: string
                    example: null
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: yolanda78@example.com
                  nullable: false
              required:
                - email
      security: []
  /api/v1/password/forgot:
    post:
      summary: 'Forgot password'
      operationId: forgotPassword
      description: 'Send a reset link to the given user.'
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: simonis.delores@example.org
                  nullable: false
              required:
                - email
      security: []
  /api/v1/resend-verify-account-email:
    post:
      summary: 'Resend email verification'
      operationId: resendEmailVerification
      description: 'Resend the email verification notification.'
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: aleen.wolf@example.net
                  nullable: false
              required:
                - email
      security: []
  /api/v1/logout:
    get:
      summary: Logout
      operationId: logout
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                  data: null
                  message: Unauthenticated.
                properties:
                  error:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Authentication
  /api/v1/search:
    get:
      summary: 'Search post'
      operationId: searchPost
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                  data: null
                  message: 'لم يتم العثور على نتائج، يرجى المحاولة باستخدام كلمات رئيسية مختلفة.'
                properties:
                  error:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'لم يتم العثور على نتائج، يرجى المحاولة باستخدام كلمات رئيسية مختلفة.'
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: 'The search keyword.'
                  example: aspernatur
                  nullable: false
              required:
                - q
      security: []
  /api/v1/posts:
    get:
      summary: 'List posts'
      operationId: listPosts
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  links:
                    first: 'https://cekwt.com/api/v1/posts?page=1'
                    last: 'https://cekwt.com/api/v1/posts?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: null
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; السابق'
                        active: false
                      -
                        url: 'https://cekwt.com/api/v1/posts?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'التالي &raquo;'
                        active: false
                    path: 'https://cekwt.com/api/v1/posts'
                    per_page: 10
                    to: null
                    total: 0
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example: []
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://cekwt.com/api/v1/posts?page=1'
                      last:
                        type: string
                        example: 'https://cekwt.com/api/v1/posts?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: string
                        example: null
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; السابق'
                            active: false
                          -
                            url: 'https://cekwt.com/api/v1/posts?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'التالي &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; السابق'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://cekwt.com/api/v1/posts'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: string
                        example: null
                      total:
                        type: integer
                        example: 0
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  /api/v1/categories:
    get:
      summary: 'List categories'
      operationId: listCategories
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: Ecommerce
                      slug: ecommerce
                      description: 'Minus omnis voluptatibus ea maxime quasi voluptate repudiandae expedita. Doloribus consectetur dolorem officiis quasi dicta corrupti. Laborum animi ullam perspiciatis porro eveniet.'
                      children: []
                      parent:
                        id: null
                        name: null
                        slug: ''
                        url: 'https://cekwt.com'
                        description: null
                    -
                      id: 2
                      name: Fashion
                      slug: fashion
                      description: 'Ad molestiae dolorem ut distinctio alias. Vel consectetur neque deserunt rem dolorem et rerum. Rerum delectus deserunt aut voluptate placeat.'
                      children: []
                      parent:
                        id: null
                        name: null
                        slug: ''
                        url: 'https://cekwt.com'
                        description: null
                    -
                      id: 3
                      name: Electronic
                      slug: electronic
                      description: 'Sed in repudiandae dolorem nihil sed asperiores. Quisquam fuga quis quidem reprehenderit. Omnis pariatur sit voluptas earum.'
                      children: []
                      parent:
                        id: null
                        name: null
                        slug: ''
                        url: 'https://cekwt.com'
                        description: null
                    -
                      id: 4
                      name: Commercial
                      slug: commercial
                      description: 'Fuga porro sapiente qui repellat laudantium. Reprehenderit dignissimos impedit doloremque molestiae. Nam fuga occaecati aut. Modi pariatur sed ea voluptatibus.'
                      children: []
                      parent:
                        id: null
                        name: null
                        slug: ''
                        url: 'https://cekwt.com'
                        description: null
                  links:
                    first: 'https://cekwt.com/api/v1/categories?page=1'
                    last: 'https://cekwt.com/api/v1/categories?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; السابق'
                        active: false
                      -
                        url: 'https://cekwt.com/api/v1/categories?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'التالي &raquo;'
                        active: false
                    path: 'https://cekwt.com/api/v1/categories'
                    per_page: 10
                    to: 4
                    total: 4
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Ecommerce
                        slug: ecommerce
                        description: 'Minus omnis voluptatibus ea maxime quasi voluptate repudiandae expedita. Doloribus consectetur dolorem officiis quasi dicta corrupti. Laborum animi ullam perspiciatis porro eveniet.'
                        children: []
                        parent:
                          id: null
                          name: null
                          slug: ''
                          url: 'https://cekwt.com'
                          description: null
                      -
                        id: 2
                        name: Fashion
                        slug: fashion
                        description: 'Ad molestiae dolorem ut distinctio alias. Vel consectetur neque deserunt rem dolorem et rerum. Rerum delectus deserunt aut voluptate placeat.'
                        children: []
                        parent:
                          id: null
                          name: null
                          slug: ''
                          url: 'https://cekwt.com'
                          description: null
                      -
                        id: 3
                        name: Electronic
                        slug: electronic
                        description: 'Sed in repudiandae dolorem nihil sed asperiores. Quisquam fuga quis quidem reprehenderit. Omnis pariatur sit voluptas earum.'
                        children: []
                        parent:
                          id: null
                          name: null
                          slug: ''
                          url: 'https://cekwt.com'
                          description: null
                      -
                        id: 4
                        name: Commercial
                        slug: commercial
                        description: 'Fuga porro sapiente qui repellat laudantium. Reprehenderit dignissimos impedit doloremque molestiae. Nam fuga occaecati aut. Modi pariatur sed ea voluptatibus.'
                        children: []
                        parent:
                          id: null
                          name: null
                          slug: ''
                          url: 'https://cekwt.com'
                          description: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Ecommerce
                        slug:
                          type: string
                          example: ecommerce
                        description:
                          type: string
                          example: 'Minus omnis voluptatibus ea maxime quasi voluptate repudiandae expedita. Doloribus consectetur dolorem officiis quasi dicta corrupti. Laborum animi ullam perspiciatis porro eveniet.'
                        children:
                          type: array
                          example: []
                        parent:
                          type: object
                          properties:
                            id:
                              type: string
                              example: null
                            name:
                              type: string
                              example: null
                            slug:
                              type: string
                              example: ''
                            url:
                              type: string
                              example: 'https://cekwt.com'
                            description:
                              type: string
                              example: null
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://cekwt.com/api/v1/categories?page=1'
                      last:
                        type: string
                        example: 'https://cekwt.com/api/v1/categories?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; السابق'
                            active: false
                          -
                            url: 'https://cekwt.com/api/v1/categories?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'التالي &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; السابق'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://cekwt.com/api/v1/categories'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 4
                      total:
                        type: integer
                        example: 4
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  /api/v1/tags:
    get:
      summary: 'List tags'
      operationId: listTags
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: General
                      slug: general
                      description: null
                    -
                      id: 2
                      name: Design
                      slug: design
                      description: null
                    -
                      id: 3
                      name: Fashion
                      slug: fashion
                      description: null
                    -
                      id: 4
                      name: Branding
                      slug: branding
                      description: null
                    -
                      id: 5
                      name: Modern
                      slug: modern
                      description: ''
                  links:
                    first: 'https://cekwt.com/api/v1/tags?page=1'
                    last: 'https://cekwt.com/api/v1/tags?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; السابق'
                        active: false
                      -
                        url: 'https://cekwt.com/api/v1/tags?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'التالي &raquo;'
                        active: false
                    path: 'https://cekwt.com/api/v1/tags'
                    per_page: 10
                    to: 5
                    total: 5
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: General
                        slug: general
                        description: null
                      -
                        id: 2
                        name: Design
                        slug: design
                        description: null
                      -
                        id: 3
                        name: Fashion
                        slug: fashion
                        description: null
                      -
                        id: 4
                        name: Branding
                        slug: branding
                        description: null
                      -
                        id: 5
                        name: Modern
                        slug: modern
                        description: ''
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: General
                        slug:
                          type: string
                          example: general
                        description:
                          type: string
                          example: null
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://cekwt.com/api/v1/tags?page=1'
                      last:
                        type: string
                        example: 'https://cekwt.com/api/v1/tags?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; السابق'
                            active: false
                          -
                            url: 'https://cekwt.com/api/v1/tags?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'التالي &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; السابق'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://cekwt.com/api/v1/tags'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 5
                      total:
                        type: integer
                        example: 5
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  /api/v1/posts/filters:
    get:
      summary: 'Filters posts'
      operationId: filtersPosts
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Current page of the collection. Default: 1'
          example: 4
          required: false
          schema:
            type: integer
            description: 'Current page of the collection. Default: 1'
            example: 4
            nullable: false
        -
          in: query
          name: per_page
          description: 'Maximum number of items to be returned in result set.Default: 10'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Maximum number of items to be returned in result set.Default: 10'
            example: 1
            nullable: false
        -
          in: query
          name: search
          description: 'Limit results to those matching a string.'
          example: accusantium
          required: false
          schema:
            type: string
            description: 'Limit results to those matching a string.'
            example: accusantium
            nullable: false
        -
          in: query
          name: after
          description: 'Limit response to posts published after a given ISO8601 compliant date.'
          example: est
          required: false
          schema:
            type: string
            description: 'Limit response to posts published after a given ISO8601 compliant date.'
            example: est
            nullable: false
        -
          in: query
          name: author
          description: 'Limit result set to posts assigned to specific authors.'
          example: eaque
          required: false
          schema:
            type: string
            description: 'Limit result set to posts assigned to specific authors.'
            example: eaque
            nullable: false
        -
          in: query
          name: author_exclude
          description: 'Ensure result set excludes posts assigned to specific authors.'
          example: maiores
          required: false
          schema:
            type: string
            description: 'Ensure result set excludes posts assigned to specific authors.'
            example: maiores
            nullable: false
        -
          in: query
          name: before
          description: 'Limit response to posts published before a given ISO8601 compliant date.'
          example: cum
          required: false
          schema:
            type: string
            description: 'Limit response to posts published before a given ISO8601 compliant date.'
            example: cum
            nullable: false
        -
          in: query
          name: exclude
          description: 'Ensure result set excludes specific IDs.'
          example: quibusdam
          required: false
          schema:
            type: string
            description: 'Ensure result set excludes specific IDs.'
            example: quibusdam
            nullable: false
        -
          in: query
          name: include
          description: 'Limit result set to specific IDs.'
          example: accusamus
          required: false
          schema:
            type: string
            description: 'Limit result set to specific IDs.'
            example: accusamus
            nullable: false
        -
          in: query
          name: order
          description: 'Order sort attribute ascending or descending. Default: desc .One of: asc, desc'
          example: sit
          required: false
          schema:
            type: string
            description: 'Order sort attribute ascending or descending. Default: desc .One of: asc, desc'
            example: sit
            nullable: false
        -
          in: query
          name: order_by
          description: 'Sort collection by object attribute. Default: updated_at. One of: author, created_at, updated_at, id,  slug, title'
          example: dolores
          required: false
          schema:
            type: string
            description: 'Sort collection by object attribute. Default: updated_at. One of: author, created_at, updated_at, id,  slug, title'
            example: dolores
            nullable: false
        -
          in: query
          name: categories
          description: 'Limit result set to all items that have the specified term assigned in the categories taxonomy.'
          example: voluptatem
          required: false
          schema:
            type: string
            description: 'Limit result set to all items that have the specified term assigned in the categories taxonomy.'
            example: voluptatem
            nullable: false
        -
          in: query
          name: categories_exclude
          description: 'Limit result set to all items except those that have the specified term assigned in the categories taxonomy.'
          example: qui
          required: false
          schema:
            type: string
            description: 'Limit result set to all items except those that have the specified term assigned in the categories taxonomy.'
            example: qui
            nullable: false
        -
          in: query
          name: tags
          description: 'Limit result set to all items that have the specified term assigned in the tags taxonomy.'
          example: iste
          required: false
          schema:
            type: string
            description: 'Limit result set to all items that have the specified term assigned in the tags taxonomy.'
            example: iste
            nullable: false
        -
          in: query
          name: tags_exclude
          description: 'Limit result set to all items except those that have the specified term assigned in the tags taxonomy.'
          example: voluptatibus
          required: false
          schema:
            type: string
            description: 'Limit result set to all items except those that have the specified term assigned in the tags taxonomy.'
            example: voluptatibus
            nullable: false
        -
          in: query
          name: featured
          description: 'Limit result set to items that are sticky.'
          example: ut
          required: false
          schema:
            type: string
            description: 'Limit result set to items that are sticky.'
            example: ut
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  links:
                    first: 'https://cekwt.com/api/v1/posts/filters?page=1'
                    last: 'https://cekwt.com/api/v1/posts/filters?page=1'
                    prev: 'https://cekwt.com/api/v1/posts/filters?page=3'
                    next: null
                  meta:
                    current_page: 4
                    from: null
                    last_page: 1
                    links:
                      -
                        url: 'https://cekwt.com/api/v1/posts/filters?page=3'
                        label: '&laquo; السابق'
                        active: false
                      -
                        url: 'https://cekwt.com/api/v1/posts/filters?page=1'
                        label: '1'
                        active: false
                      -
                        url: null
                        label: 'التالي &raquo;'
                        active: false
                    path: 'https://cekwt.com/api/v1/posts/filters'
                    per_page: 1
                    to: null
                    total: 0
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example: []
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://cekwt.com/api/v1/posts/filters?page=1'
                      last:
                        type: string
                        example: 'https://cekwt.com/api/v1/posts/filters?page=1'
                      prev:
                        type: string
                        example: 'https://cekwt.com/api/v1/posts/filters?page=3'
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 4
                      from:
                        type: string
                        example: null
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: 'https://cekwt.com/api/v1/posts/filters?page=3'
                            label: '&laquo; السابق'
                            active: false
                          -
                            url: 'https://cekwt.com/api/v1/posts/filters?page=1'
                            label: '1'
                            active: false
                          -
                            url: null
                            label: 'التالي &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: 'https://cekwt.com/api/v1/posts/filters?page=3'
                            label:
                              type: string
                              example: '&laquo; السابق'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://cekwt.com/api/v1/posts/filters'
                      per_page:
                        type: integer
                        example: 1
                      to:
                        type: string
                        example: null
                      total:
                        type: integer
                        example: 0
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  '/api/v1/posts/{slug}':
    get:
      summary: 'Get post by slug'
      operationId: getPostBySlug
      description: ''
      parameters:
        -
          in: query
          name: slug
          description: 'Find by slug of post.'
          example: nisi
          required: false
          schema:
            type: string
            description: 'Find by slug of post.'
            example: nisi
            nullable: false
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                  data: null
                  message: 'Not found'
                properties:
                  error:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'Not found'
      tags:
        - Blog
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the post.'
        example: alias
        required: true
        schema:
          type: string
  /api/v1/categories/filters:
    get:
      summary: 'Filters categories'
      operationId: filtersCategories
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 2
                      name: Fashion
                      slug: fashion
                      url: 'https://cekwt.com/blog/fashion'
                      description: 'Ad molestiae dolorem ut distinctio alias. Vel consectetur neque deserunt rem dolorem et rerum. Rerum delectus deserunt aut voluptate placeat.'
                    -
                      id: 3
                      name: Electronic
                      slug: electronic
                      url: 'https://cekwt.com/blog/electronic'
                      description: 'Sed in repudiandae dolorem nihil sed asperiores. Quisquam fuga quis quidem reprehenderit. Omnis pariatur sit voluptas earum.'
                    -
                      id: 1
                      name: Ecommerce
                      slug: ecommerce
                      url: 'https://cekwt.com/blog/ecommerce'
                      description: 'Minus omnis voluptatibus ea maxime quasi voluptate repudiandae expedita. Doloribus consectetur dolorem officiis quasi dicta corrupti. Laborum animi ullam perspiciatis porro eveniet.'
                    -
                      id: 4
                      name: Commercial
                      slug: commercial
                      url: 'https://cekwt.com/blog/commercial'
                      description: 'Fuga porro sapiente qui repellat laudantium. Reprehenderit dignissimos impedit doloremque molestiae. Nam fuga occaecati aut. Modi pariatur sed ea voluptatibus.'
                  links:
                    first: 'https://cekwt.com/api/v1/categories/filters?page=1'
                    last: 'https://cekwt.com/api/v1/categories/filters?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; السابق'
                        active: false
                      -
                        url: 'https://cekwt.com/api/v1/categories/filters?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'التالي &raquo;'
                        active: false
                    path: 'https://cekwt.com/api/v1/categories/filters'
                    per_page: 10
                    to: 4
                    total: 4
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 2
                        name: Fashion
                        slug: fashion
                        url: 'https://cekwt.com/blog/fashion'
                        description: 'Ad molestiae dolorem ut distinctio alias. Vel consectetur neque deserunt rem dolorem et rerum. Rerum delectus deserunt aut voluptate placeat.'
                      -
                        id: 3
                        name: Electronic
                        slug: electronic
                        url: 'https://cekwt.com/blog/electronic'
                        description: 'Sed in repudiandae dolorem nihil sed asperiores. Quisquam fuga quis quidem reprehenderit. Omnis pariatur sit voluptas earum.'
                      -
                        id: 1
                        name: Ecommerce
                        slug: ecommerce
                        url: 'https://cekwt.com/blog/ecommerce'
                        description: 'Minus omnis voluptatibus ea maxime quasi voluptate repudiandae expedita. Doloribus consectetur dolorem officiis quasi dicta corrupti. Laborum animi ullam perspiciatis porro eveniet.'
                      -
                        id: 4
                        name: Commercial
                        slug: commercial
                        url: 'https://cekwt.com/blog/commercial'
                        description: 'Fuga porro sapiente qui repellat laudantium. Reprehenderit dignissimos impedit doloremque molestiae. Nam fuga occaecati aut. Modi pariatur sed ea voluptatibus.'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 2
                        name:
                          type: string
                          example: Fashion
                        slug:
                          type: string
                          example: fashion
                        url:
                          type: string
                          example: 'https://cekwt.com/blog/fashion'
                        description:
                          type: string
                          example: 'Ad molestiae dolorem ut distinctio alias. Vel consectetur neque deserunt rem dolorem et rerum. Rerum delectus deserunt aut voluptate placeat.'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://cekwt.com/api/v1/categories/filters?page=1'
                      last:
                        type: string
                        example: 'https://cekwt.com/api/v1/categories/filters?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; السابق'
                            active: false
                          -
                            url: 'https://cekwt.com/api/v1/categories/filters?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'التالي &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; السابق'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://cekwt.com/api/v1/categories/filters'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 4
                      total:
                        type: integer
                        example: 4
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  '/api/v1/categories/{slug}':
    get:
      summary: 'Get category by slug'
      operationId: getCategoryBySlug
      description: ''
      parameters:
        -
          in: query
          name: slug
          description: 'Find by slug of category.'
          example: non
          required: false
          schema:
            type: string
            description: 'Find by slug of category.'
            example: non
            nullable: false
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                  data: null
                  message: 'Not found'
                properties:
                  error:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'Not found'
      tags:
        - Blog
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the category.'
        example: nam
        required: true
        schema:
          type: string
  /api/v1/ecommerce/brands:
    get:
      summary: 'Get list of brands'
      operationId: getListOfBrands
      description: ''
      parameters:
        -
          in: query
          name: brands
          description: 'nullable array List of brand IDs if you need filter by brands, (e.g. [1,2,3]).'
          example: null
          required: false
          schema:
            type: string
            description: 'nullable array List of brand IDs if you need filter by brands, (e.g. [1,2,3]).'
            example: null
            nullable: false
        -
          in: query
          name: page
          description: 'Page number. Default: 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Page number. Default: 1.'
            example: null
            nullable: false
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 16.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 16.'
            example: null
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 5
                      name: Pure
                      website: null
                      description: null
                      is_featured: '1'
                      slug: pure
                      logo_with_sizes:
                        origin: 'https://cekwt.com/storage/brands/brand-05.png'
                        thumb: 'https://cekwt.com/storage/brands/brand-05-150x150.png'
                        small: 'https://cekwt.com/storage/brands/brand-05-300x300.png'
                        medium: 'https://cekwt.com/storage/brands/brand-05-720x720.png'
                  links:
                    first: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                    last: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; السابق'
                        active: false
                      -
                        url: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'التالي &raquo;'
                        active: false
                    path: 'https://cekwt.com/api/v1/ecommerce/brands'
                    per_page: 16
                    to: 1
                    total: 1
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 5
                        name: Pure
                        website: null
                        description: null
                        is_featured: '1'
                        slug: pure
                        logo_with_sizes:
                          origin: 'https://cekwt.com/storage/brands/brand-05.png'
                          thumb: 'https://cekwt.com/storage/brands/brand-05-150x150.png'
                          small: 'https://cekwt.com/storage/brands/brand-05-300x300.png'
                          medium: 'https://cekwt.com/storage/brands/brand-05-720x720.png'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        name:
                          type: string
                          example: Pure
                        website:
                          type: string
                          example: null
                        description:
                          type: string
                          example: null
                        is_featured:
                          type: string
                          example: '1'
                        slug:
                          type: string
                          example: pure
                        logo_with_sizes:
                          type: object
                          properties:
                            origin:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05.png'
                            thumb:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05-150x150.png'
                            small:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05-300x300.png'
                            medium:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05-720x720.png'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                      last:
                        type: string
                        example: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; السابق'
                            active: false
                          -
                            url: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'التالي &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; السابق'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://cekwt.com/api/v1/ecommerce/brands'
                      per_page:
                        type: integer
                        example: 16
                      to:
                        type: integer
                        example: 1
                      total:
                        type: integer
                        example: 1
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Brands
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                brands:
                  type: array
                  description: 'The <code>id</code> of an existing record in the ec_product_brands table.'
                  example: null
                  items:
                    type: string
                    nullable: true
                is_featured:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
      security: []
  '/api/v1/ecommerce/brands/{slug}':
    get:
      summary: 'Get brand details by slug'
      operationId: getBrandDetailsBySlug
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: ''
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                  line: 1251
                  trace:
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                      line: 45
                      function: abort
                      class: Illuminate\Foundation\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                      line: 86
                      function: abort
                    -
                      file: /home/cekwt/public_html/platform/plugins/ecommerce/src/Http/Controllers/API/BrandController.php
                      line: 61
                      function: abort_unless
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                      line: 54
                      function: show
                      class: Botble\Ecommerce\Http\Controllers\API\BrandController
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 806
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 144
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/botble/api/src/Http/Middleware/ForceJsonResponseMiddleware.php
                      line: 24
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Botble\Api\Http\Middleware\ForceJsonResponseMiddleware
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 159
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 125
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 87
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 805
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 784
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 748
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/cekwt/public_html/platform/core/js-validation/src/RemoteValidationMiddleware.php
                      line: 43
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Botble\JsValidation\RemoteValidationMiddleware
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                      line: 59
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 99
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 310
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 298
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 237
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Command/Command.php
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                      line: 1096
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/artisan
                      line: 15
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: ''
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                  line:
                    type: integer
                    example: 1251
                  trace:
                    type: array
                    example:
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                        line: 45
                        function: abort
                        class: Illuminate\Foundation\Application
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                        line: 86
                        function: abort
                      -
                        file: /home/cekwt/public_html/platform/plugins/ecommerce/src/Http/Controllers/API/BrandController.php
                        line: 61
                        function: abort_unless
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                        line: 54
                        function: show
                        class: Botble\Ecommerce\Http\Controllers\API\BrandController
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                        line: 43
                        function: callAction
                        class: Illuminate\Routing\Controller
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 259
                        function: dispatch
                        class: Illuminate\Routing\ControllerDispatcher
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 205
                        function: runController
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 806
                        function: run
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 144
                        function: 'Illuminate\Routing\{closure}'
                        class: Illuminate\Routing\Router
[...]
