openapi: 3.0.3
info:
  title: 'كريتف اكسبريس'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://cekwt.com'
paths:
  /api/v1/ecommerce/addresses:
    get:
      summary: 'Get list of address by customer'
      operationId: getListOfAddressByCustomer
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                  data: null
                  message: Unauthenticated.
                properties:
                  error:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Address
      security: []
    post:
      summary: 'Create new address for customer'
      operationId: createNewAddressForCustomer
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    id: 1
                    name: 'John Doe'
                    phone: '0123456789'
                    email: john.doe@example.com
                    country: 'United States'
                    state: California
                    city: 'Los Angeles'
                    address: '123 Main St'
                    zip_code: '90001'
                    is_default: true
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      phone:
                        type: string
                        example: '0123456789'
                      email:
                        type: string
                        example: john.doe@example.com
                      country:
                        type: string
                        example: 'United States'
                      state:
                        type: string
                        example: California
                      city:
                        type: string
                        example: 'Los Angeles'
                      address:
                        type: string
                        example: '123 Main St'
                      zip_code:
                        type: string
                        example: '90001'
                      is_default:
                        type: boolean
                        example: true
                  message:
                    type: string
                    example: null
      tags:
        - Address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the address owner.'
                  example: 'John Doe'
                  nullable: false
                email:
                  type: string
                  description: 'The email address.'
                  example: john.doe@example.com
                  nullable: true
                phone:
                  type: string
                  description: 'The phone number.'
                  example: '0123456789'
                  nullable: false
                country:
                  type: string
                  description: 'The country name or country code.'
                  example: 'United States or US'
                  nullable: true
                state:
                  type: string
                  description: 'The state/province name.'
                  example: California
                  nullable: true
                city:
                  type: string
                  description: 'The city name.'
                  example: 'Los Angeles'
                  nullable: true
                address:
                  type: string
                  description: 'The street address.'
                  example: '123 Main St'
                  nullable: true
                is_default:
                  type: boolean
                  description: 'Set as default address.'
                  example: true
                  nullable: true
                zip_code:
                  type: string
                  description: 'The postal/zip code.'
                  example: '90001'
                  nullable: true
              required:
                - name
                - email
                - phone
  '/api/v1/ecommerce/addresses/{id}':
    put:
      summary: 'Update an address'
      operationId: updateAnAddress
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    id: 1
                    name: 'John Doe'
                    phone: '0123456789'
                    email: john.doe@example.com
                    country: 'United States'
                    state: California
                    city: 'Los Angeles'
                    address: '123 Main St'
                    zip_code: '90001'
                    is_default: true
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'John Doe'
                      phone:
                        type: string
                        example: '0123456789'
                      email:
                        type: string
                        example: john.doe@example.com
                      country:
                        type: string
                        example: 'United States'
                      state:
                        type: string
                        example: California
                      city:
                        type: string
                        example: 'Los Angeles'
                      address:
                        type: string
                        example: '123 Main St'
                      zip_code:
                        type: string
                        example: '90001'
                      is_default:
                        type: boolean
                        example: true
                  message:
                    type: string
                    example: null
      tags:
        - Address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the address owner.'
                  example: 'John Doe'
                  nullable: false
                email:
                  type: string
                  description: 'The email address.'
                  example: john.doe@example.com
                  nullable: false
                phone:
                  type: string
                  description: 'The phone number.'
                  example: '0123456789'
                  nullable: false
                country:
                  type: string
                  description: 'The country name or country code.'
                  example: 'United States or US'
                  nullable: false
                state:
                  type: string
                  description: 'The state/province name.'
                  example: California
                  nullable: false
                city:
                  type: string
                  description: 'The city name.'
                  example: 'Los Angeles'
                  nullable: false
                address:
                  type: string
                  description: 'The street address.'
                  example: '123 Main St'
                  nullable: false
                is_default:
                  type: boolean
                  description: 'Set as default address.'
                  example: true
                  nullable: false
                zip_code:
                  type: string
                  description: 'The postal/zip code.'
                  example: '90001'
                  nullable: true
              required:
                - name
                - email
                - phone
                - state
                - city
                - address
    delete:
      summary: 'Delete an address'
      operationId: deleteAnAddress
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data: null
                  message: 'Address deleted successfully'
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'Address deleted successfully'
      tags:
        - Address
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the address.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/ecommerce/countries:
    get:
      summary: 'Get list of available countries'
      operationId: getListOfAvailableCountries
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    -
                      name: Vietnam
                      code: VN
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: array
                    example:
                      -
                        name: Vietnam
                        code: VN
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Vietnam
                        code:
                          type: string
                          example: VN
                  message:
                    type: string
                    example: null
      tags:
        - Address
      security: []
  /api/v1/ecommerce/brands:
    get:
      summary: 'Get list of brands'
      operationId: getListOfBrands
      description: ''
      parameters:
        -
          in: query
          name: brands
          description: 'nullable array List of brand IDs if you need filter by brands, (e.g. [1,2,3]).'
          example: null
          required: false
          schema:
            type: string
            description: 'nullable array List of brand IDs if you need filter by brands, (e.g. [1,2,3]).'
            example: null
            nullable: false
        -
          in: query
          name: page
          description: 'Page number. Default: 1.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Page number. Default: 1.'
            example: null
            nullable: false
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 16.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 16.'
            example: null
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 5
                      name: Pure
                      website: null
                      description: null
                      is_featured: 1
                      slug: pure
                      logo_with_sizes:
                        origin: 'https://cekwt.com/storage/brands/brand-05.png'
                        thumb: 'https://cekwt.com/storage/brands/brand-05-150x150.png'
                        small: 'https://cekwt.com/storage/brands/brand-05-300x300.png'
                        medium: 'https://cekwt.com/storage/brands/brand-05-720x720.png'
                  links:
                    first: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                    last: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    path: 'https://cekwt.com/api/v1/ecommerce/brands'
                    per_page: 16
                    to: 1
                    total: 1
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 5
                        name: Pure
                        website: null
                        description: null
                        is_featured: 1
                        slug: pure
                        logo_with_sizes:
                          origin: 'https://cekwt.com/storage/brands/brand-05.png'
                          thumb: 'https://cekwt.com/storage/brands/brand-05-150x150.png'
                          small: 'https://cekwt.com/storage/brands/brand-05-300x300.png'
                          medium: 'https://cekwt.com/storage/brands/brand-05-720x720.png'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        name:
                          type: string
                          example: Pure
                        website:
                          type: string
                          example: null
                        description:
                          type: string
                          example: null
                        is_featured:
                          type: integer
                          example: 1
                        slug:
                          type: string
                          example: pure
                        logo_with_sizes:
                          type: object
                          properties:
                            origin:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05.png'
                            thumb:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05-150x150.png'
                            small:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05-300x300.png'
                            medium:
                              type: string
                              example: 'https://cekwt.com/storage/brands/brand-05-720x720.png'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                      last:
                        type: string
                        example: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Previous'
                            active: false
                          -
                            url: 'https://cekwt.com/api/v1/ecommerce/brands?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Next &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Previous'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://cekwt.com/api/v1/ecommerce/brands'
                      per_page:
                        type: integer
                        example: 16
                      to:
                        type: integer
                        example: 1
                      total:
                        type: integer
                        example: 1
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Brands
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                brands:
                  type: array
                  description: 'The <code>id</code> of an existing record in the ec_product_brands table.'
                  example: null
                  items:
                    type: string
                    nullable: true
                is_featured:
                  type: boolean
                  description: ''
                  example: true
                  nullable: true
      security: []
  '/api/v1/ecommerce/brands/{slug}':
    get:
      summary: 'Get brand details by slug'
      operationId: getBrandDetailsBySlug
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: ''
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                  line: 1251
                  trace:
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                      line: 45
                      function: abort
                      class: Illuminate\Foundation\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                      line: 86
                      function: abort
                    -
                      file: /home/cekwt/public_html/platform/plugins/ecommerce/src/Http/Controllers/API/BrandController.php
                      line: 61
                      function: abort_unless
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                      line: 54
                      function: show
                      class: Botble\Ecommerce\Http\Controllers\API\BrandController
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 806
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 144
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 159
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 125
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 87
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 805
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 784
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 748
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 737
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 144
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/cekwt/public_html/platform/core/js-validation/src/RemoteValidationMiddleware.php
                      line: 43
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Botble\JsValidation\RemoteValidationMiddleware
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                      line: 59
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 99
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 183
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 119
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 310
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 298
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 237
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Command/Command.php
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                      line: 1096
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                      line: 324
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                      line: 175
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /home/cekwt/public_html/artisan
                      line: 15
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: ''
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                  line:
                    type: integer
                    example: 1251
                  trace:
                    type: array
                    example:
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                        line: 45
                        function: abort
                        class: Illuminate\Foundation\Application
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                        line: 86
                        function: abort
                      -
                        file: /home/cekwt/public_html/platform/plugins/ecommerce/src/Http/Controllers/API/BrandController.php
                        line: 61
                        function: abort_unless
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                        line: 54
                        function: show
                        class: Botble\Ecommerce\Http\Controllers\API\BrandController
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                        line: 43
                        function: callAction
                        class: Illuminate\Routing\Controller
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 259
                        function: dispatch
                        class: Illuminate\Routing\ControllerDispatcher
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 205
                        function: runController
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 806
                        function: run
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 144
                        function: 'Illuminate\Routing\{closure}'
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 159
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 125
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 87
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 805
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 784
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 748
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 737
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 144
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /home/cekwt/public_html/platform/core/js-validation/src/RemoteValidationMiddleware.php
                        line: 43
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Botble\JsValidation\RemoteValidationMiddleware
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/barryvdh/laravel-debugbar/src/Middleware/InjectDebugbar.php
                        line: 59
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Barryvdh\Debugbar\Middleware\InjectDebugbar
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 99
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 183
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 119
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 310
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 298
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 237
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/symfony/console/Command/Command.php
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                        line: 1096
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                        line: 324
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/symfony/console/Application.php
                        line: 175
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /home/cekwt/public_html/artisan
                        line: 15
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: /home/cekwt/public_html/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
                        line:
                          type: integer
                          example: 45
                        function:
                          type: string
                          example: abort
                        class:
                          type: string
                          example: Illuminate\Foundation\Application
                        type:
                          type: string
                          example: '->'
      tags:
        - Brands
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the brand.'
        example: molestias
        required: true
        schema:
          type: string
  '/api/v1/ecommerce/brands/{id}/products':
    get:
      summary: 'Get products by brand'
      operationId: getProductsByBrand
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 536
                      slug: bucket-hat
                      name: 'bucket hat'
                      sku: CE-138
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">قبعة الدلو ذات اللون الأسود. تسمى أيضًا قبعة الصياد أو \"bucket hat\".\_</p><p style=\"text-align:center;\">هذا التصميم الكلاسيكي ذو الحواف المنخفضة والشكل المستدير يعطي شعورًا غير رسمي وأكثر راحة.\_</p><p style=\"text-align:center;\">القبعة تحمل علامة \"N'86 Brooklyn Twenty\" مطبوعة على لوحة صغيرة مثبتة على الجزء الأمامي.\_</p><p style=\"text-align:center;\">الأسلوب الأسود الساده للقبعة يتناسب مع العديد من الأزياء والمناسبات المختلفة،\_</p><p style=\"text-align:center;\">مقاس واحد قابل للتعديل : 54-58 سم\_<br>\_</p>"
                      quantity: 0
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4
                      price_formatted: KD4.000
                      original_price: 4
                      original_price_formatted: KD4.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-a6692816.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-613f2f87.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-0001decc.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102851-52fab8b0.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-a6692816-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-613f2f87-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-0001decc-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102851-52fab8b0-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-a6692816-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-613f2f87-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-0001decc-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102851-52fab8b0-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-a6692816-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-613f2f87-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-0001decc-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102851-52fab8b0-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-102853-a6692816-150x150.jpg'
                      product_options: []
                    -
                      id: 533
                      slug: army-hat
                      name: 'Army hat'
                      sku: CE-132
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">بيسبول كاب ىطراز عسكري مموه ويحتوي على رقعه في الامام بالعلم الامريكي\_</p><p style=\"text-align:center;\">الجزء الخلفي للقبعة مصنوع من شبكة سوداء مما يجعله خفيفاً ومريحاً للارتداء.</p><p style=\"text-align:center;\">مقاس واحد : 56-60 سم قابل للتعديل\_</p>"
                      quantity: 1
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4.5
                      price_formatted: KD4.500
                      original_price: 4.5
                      original_price_formatted: KD4.500
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100652-82d37e7e.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100651-8ca06886.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100652-82d37e7e-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100651-8ca06886-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100652-82d37e7e-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100651-8ca06886-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100652-82d37e7e-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100651-8ca06886-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-100652-82d37e7e-150x150.jpg'
                      product_options: []
                    -
                      id: 530
                      slug: la-cap
                      name: 'LA CAP'
                      sku: CE-131
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">قبعة بيسبول بتطريز “ LA ” على الجانب و من الامام</p><p style=\"text-align:center;\">قابلة للتعديل بمقاس واحد : 56-60 سم.</p><p style=\"text-align:center;\">المواد : 70% بوليستر ، 30% البولي أميد.\_</p><p style=\"text-align:center;\">\_</p>"
                      quantity: 2
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 5
                      price_formatted: KD5.000
                      original_price: 5
                      original_price_formatted: KD5.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095139-822a4a0d.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-05d791f0.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-2d61f358.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095139-822a4a0d-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-05d791f0-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-2d61f358-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095139-822a4a0d-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-05d791f0-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-2d61f358-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095139-822a4a0d-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-05d791f0-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095138-2d61f358-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-095139-822a4a0d-150x150.jpg'
                      product_options: []
                    -
                      id: 529
                      slug: ny-cap
                      name: 'NY CAP'
                      sku: CE-128
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">قبعة بيسبول بتصميم بسيط كلاسيكي بشعار “ NY ”\_</p><p style=\"text-align:center;\">مصنوع من القماش الصلب والمتين وهو تصميم انيق يناسب جميع من الاوقات والمناسبات.</p><p style=\"text-align:center;\">مقاس واحد قابل للتعديل\_</p>"
                      quantity: 3
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4
                      price_formatted: KD4.000
                      original_price: 4
                      original_price_formatted: KD4.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-18e96c7e.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-7b3d4fb9.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093734-7a4090f7.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-18e96c7e-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-7b3d4fb9-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093734-7a4090f7-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-18e96c7e-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-7b3d4fb9-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093734-7a4090f7-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-18e96c7e-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093736-7b3d4fb9-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093734-7a4090f7-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-093734-7a4090f7-150x150.jpg'
                      product_options: []
                    -
                      id: 526
                      slug: wolf-cap
                      name: 'Wolf Cap'
                      sku: CE-125
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">قبعة بيسبول مطرزة بـ ذئب للجنسين قبعة شبكية لزيادة التهوية والراحة.</p><p style=\"text-align:center;\">جودة عالية و تصميم مُميز شبابي يناسب الجنسين.</p><p style=\"text-align:center;\">\_</p>"
                      quantity: 2
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4.5
                      price_formatted: KD4.500
                      original_price: 4.5
                      original_price_formatted: KD4.500
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/img-20241204-wa0014.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0018.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0019.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0020.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/img-20241204-wa0014-150x150.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0018-150x150.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0019-150x150.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0020-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/img-20241204-wa0014-300x300.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0018-300x300.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0019-300x300.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0020-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/img-20241204-wa0014-720x720.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0018-720x720.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0019-720x720.jpg'
                          - 'https://cekwt.com/storage/img-20241204-wa0020-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/img-20241204-wa0014-150x150.jpg'
                      product_options: []
                    -
                      id: 523
                      slug: my-cap
                      name: 'MY CAP'
                      sku: CE-120
                      description: ''
                      content: '<p style="text-align:center;"><strong>التفاصيل</strong></p><p style="text-align:center;">قبعة بيسبول للجنسين مطرزة بحروف MY جيدة التهوية،</p><p style="text-align:center;">حزام قابل للتعديل يضمن ملائمة مريحة لجميع أحجام الرأس ، مما يجعله مثالياً لكل من الرجال والنساء.</p><p style="text-align:center;">توفر حافة الغطاء حماية وافرة من الشمس ، مما يجعلها مثاليه للانشطة الخارجية.</p><p style="text-align:center;">مقاس واحد : 56-61 سم M to L</p>'
                      quantity: 3
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 5
                      price_formatted: KD5.000
                      original_price: 5
                      original_price_formatted: KD5.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-083049-710b7600.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-083049-710b7600-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-083049-710b7600-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-083049-710b7600-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-083049-710b7600-150x150.jpg'
                      product_options: []
                    -
                      id: 518
                      slug: mghlk-balkaml-1
                      name: 'مغلقة بالكامل'
                      sku: CE-75
                      description: "<p><strong>كاب مغلق بالكامل مع شبك بالخلف\_</strong></p>"
                      content: '<p style="text-align:center;"><strong>التفاصيل</strong></p><p style="text-align:center;">كاب سادة مُميز وبسيط مناسب لـ جميع المناسبات</p><p style="text-align:center;">له تصميم شبكي من الخلف مغلق وبداخله شريط مطاطي يساعد على الارتداء براحة</p><p style="text-align:center;">واطار صلب من الامام ، هذا التصميم يساعد على التهوية والراحة اثناء الاستخدام.</p><p style="text-align:center;">مقاس واحد : 56-58 سم متوسط</p>'
                      quantity: 5
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4
                      price_formatted: KD4.000
                      original_price: 4
                      original_price_formatted: KD4.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-001640-6dcce08b.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-001640-6dcce08b-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-001640-6dcce08b-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-001640-6dcce08b-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-04-fy-001640-6dcce08b-150x150.jpg'
                      product_options: []
                    -
                      id: 515
                      slug: force-newyork-cap
                      name: 'FORCE NEWYORK CAP'
                      sku: CE-73
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">كاب مطرز بعبارة “ newyork 1985 FORCE ” صلبة من الامام\_</p><p style=\"text-align:center;\">وشبكية من الخلف ذو مظهر أنيق و مناسب للجميع.</p><p style=\"text-align:center;\">مقاس واحد قابل للتعديل : 56-60 سم\_</p>"
                      quantity: 4
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4.9
                      price_formatted: KD4.900
                      original_price: 4.9
                      original_price_formatted: KD4.900
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/img-20241203-wa0029.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0028.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0027.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/img-20241203-wa0029-150x150.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0028-150x150.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0027-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/img-20241203-wa0029-300x300.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0028-300x300.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0027-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/img-20241203-wa0029-720x720.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0028-720x720.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0027-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/img-20241203-wa0029-150x150.jpg'
                      product_options: []
                    -
                      id: 514
                      slug: r-cap
                      name: 'R CAP'
                      sku: CE-67
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل\_</strong></p><p style=\"text-align:center;\">قبعة بيسبول قطنية قابلة للتعديل بتصميم بسيط\_</p><p style=\"text-align:center;\">حرف “ R ” كلاسيكي للارتداء اليومي\_</p><p style=\"text-align:center;\">مقاس واحد : 54-60 قابل للتعديل.</p><p style=\"text-align:center;\">\_</p>"
                      quantity: 1
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4
                      price_formatted: KD4.000
                      original_price: 4
                      original_price_formatted: KD4.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-4c8faec2.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233419-4af74e83.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-26073e8e.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-4c8faec2-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233419-4af74e83-150x150.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-26073e8e-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-4c8faec2-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233419-4af74e83-300x300.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-26073e8e-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-4c8faec2-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233419-4af74e83-720x720.jpg'
                          - 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-26073e8e-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/sor-oatsab-btarykh-2024-12-03-fy-233421-4c8faec2-150x150.jpg'
                      product_options: []
                    -
                      id: 511
                      slug: baseball-g-cap
                      name: 'Baseball G Cap'
                      sku: CE-62
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">قبعة مُميزة منحنية من الامام الجزء الامامي من القبعة هو نسيج صلب ،</p><p style=\"text-align:center;\">والجزء الخلفي شبكة تنفس ، النمط عبارة عن تكرار الاحرف متشابكة ذات\_</p><p style=\"text-align:center;\">طبيعة هندسية يعطي الكاب مظهراً فريداً وانيقاً .\_</p>"
                      quantity: 3
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4
                      price_formatted: KD4.000
                      original_price: 4
                      original_price_formatted: KD4.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/img-20241203-wa0019.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0018.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0020.jpg'
                        thumb:
                          - 'https://cekwt.com/storage/img-20241203-wa0019-150x150.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0018-150x150.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0020-150x150.jpg'
                        small:
                          - 'https://cekwt.com/storage/img-20241203-wa0019-300x300.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0018-300x300.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0020-300x300.jpg'
                        medium:
                          - 'https://cekwt.com/storage/img-20241203-wa0019-720x720.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0018-720x720.jpg'
                          - 'https://cekwt.com/storage/img-20241203-wa0020-720x720.jpg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/img-20241203-wa0019-150x150.jpg'
                      product_options: []
                    -
                      id: 510
                      slug: mghlk-balkaml
                      name: 'مُغلقة بالكامل'
                      sku: CE-118
                      description: ''
                      content: '<p style="text-align:center;"><strong>التفاصيل</strong></p><p style="text-align:center;">كاب بيسبول مُغلق بالكامل من الخلف عالية الجودة</p><p style="text-align:center;">بمقاس : 55-60 سم / 7 سم من الامام / 12 سم الى الاعلى</p><p style="text-align:center;">كاب سادة للاستعمال اليومي يحمي الرأس من أشعة الشمس</p><p style="text-align:center;">ويضفي جمال وأناقة لـ مرتدية كاب بسيط و أنيق</p>'
                      quantity: 3
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4
                      price_formatted: KD4.000
                      original_price: 4
                      original_price_formatted: KD4.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/testimonials/img-5622.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5623.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5625.png'
                        thumb:
                          - 'https://cekwt.com/storage/testimonials/img-5622-150x150.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5623-150x150.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5625-150x150.png'
                        small:
                          - 'https://cekwt.com/storage/testimonials/img-5622-300x300.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5623-300x300.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5625-300x300.png'
                        medium:
                          - 'https://cekwt.com/storage/testimonials/img-5622-720x720.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5623-720x720.jpeg'
                          - 'https://cekwt.com/storage/testimonials/img-5625-720x720.png'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/testimonials/img-5622-150x150.jpeg'
                      product_options: []
                    -
                      id: 505
                      slug: the-realy
                      name: 'The Real BOOS'
                      sku: CE-286
                      description: '<p>ICE CAP</p>'
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">قبعة محبوكة مطرز عليها عبارة “ The Real BOOS \"\_</p><p style=\"text-align:center;\">القبعة مصمم بشكل مميز و متناسق <span style=\"background-color:rgb(255,255,255);color:rgb(104,102,102);font-size:16px;\"><span style=\"font-family:Jost, sans-serif;font-style:normal;font-weight:400;text-align:center;text-decoration:none;word-spacing:0px;\">مما يجعلها مناسبة للارتداء خلال فصل الشتاء،</span> \_</span></p><p style=\"text-align:center;\"><span style=\"background-color:rgb(255,255,255);color:rgb(104,102,102);font-size:16px;\"><span style=\"font-family:Jost, sans-serif;font-style:normal;font-weight:400;text-align:center;text-decoration:none;word-spacing:0px;\">دافئة وأنيقة مناسب للاستخدام اليومي .</span> \_</span></p>"
                      quantity: 1
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 3.9
                      price_formatted: KD3.900
                      original_price: 3.9
                      original_price_formatted: KD3.900
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
                          - 'https://cekwt.com/storage/testimonials/img-5616.jpeg'
                        thumb:
                          - 'https://cekwt.com/storage/testimonials/img-5616-150x150.jpeg'
                        small:
                          - 'https://cekwt.com/storage/testimonials/img-5616-300x300.jpeg'
                        medium:
                          - 'https://cekwt.com/storage/testimonials/img-5616-720x720.jpeg'
                      weight: 0
                      height: 0
                      wide: 0
                      length: 0
                      image_url: 'https://cekwt.com/storage/testimonials/img-5616-150x150.jpeg'
                      product_options: []
                    -
                      id: 498
                      slug: cap-chamis
                      name: 'Cap chamois'
                      sku: CE-117
                      description: ''
                      content: "<p style=\"text-align:center;\"><strong>التفاصيل</strong></p><p style=\"text-align:center;\">كاب سادة من الجلد المدبوغ وبملمس ناعم ومخملي\_</p><p style=\"text-align:center;\">بنمط كاجوال. القبعة مصنوعة من خامة أنيقة وناعمة جيدة الجودة.\_</p><p style=\"text-align:center;\">تتميز بتصميم دائري أنيق للظهر وتعديل من الخلف للتحكم بالمقاس.\_</p><p style=\"text-align:center;\">وذات طراز بسيط وأنيق، مناسب للاستخدام اليومي والأنشطة\_الخارجية.</p><p style=\"text-align:center;\">\_</p>"
                      quantity: 1
                      is_out_of_stock: false
                      stock_status_label: 'In stock'
                      stock_status_html: '<span class="text-success">In stock</span>'
                      price: 4
                      price_formatted: KD4.000
                      original_price: 4
                      original_price_formatted: KD4.000
                      reviews_avg: null
                      reviews_count: 0
                      image_with_sizes:
                        origin:
[...]
